$blue: #222b5d;
$green: #42b649;
$orange: #f59521;
$grey: #f9f9fa;
$black: #000000;
$white: #ffffff;
.top-bar-wrapper {
    background-color: $grey;
}

.top-logo-wrap img {
    width: 150px;
}

.top-contact-area {
    margin: 0;
    padding: 10px 0;
    list-style: none;
    display: inline-block;
    float: right;
}

.top-contact-area li {
    display: inline-block;
    padding: 0 28px;
    position: relative;
}

.top-contact-area li span {
    position: absolute;
    left: -3px;
    top: 50%;
    transform: translateY(-50%);
    color: $orange;
}

.top-contact-area li span svg {
    height: 24px;
    width: 24px;
}

.top-contact-area li h6 {
    margin-bottom: 0;
}

.top-contact-area li p {
    margin-bottom: 0;
}

.btnss {
    display: inline-table !important;
}

.bordered-child {
    border-right: 1px solid $orange;
}

.btnss a {
    display: table-cell;
    vertical-align: middle;
    padding: 5px 10px;
    background-color: $orange;
    color: $white;
    border-radius: 5px;
}

.top-contact-area-mobile {
    display: none;
}